.alert-info {
  z-index: 1000;
  position: absolute;
  width: 25em;
  margin: auto;
  left: 17em;
  top: 10em;
  box-shadow: 1px 2px 1px;
  opacity: 0.8;
}

.info-icon {
  font-size: 2rem;
  margin: auto;
  margin-right: auto;
  float: right;
  position: relative;
  right: -1.5em;
}

.docImage:hover{
  /* transform: scale(2.5);
  transition: all ease-in 0.5s;
  z-index: 99999 !important; */
  /* position: absolute; */
}
